# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

/src/data/data_with_post_office.json
/src/data/grouped_trades_final_2_cleaned.json
/src/data/India ADM0.json
/src/data/India ADM1.json
/src/svg_local_data_backup.js
/src/svg method.js
/src/Exact_location_topojson_canvas_2.js
/src/Exact_location_topojson_canvas_aws.js
/src/video.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.next