body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.diwali-text {
  cursor: help;
  position: relative;
  text-decoration: underline dotted;
  text-underline-offset: 5px;
  color: #F5C556;
}

.diwali-popup {
  display: none;
  position: absolute;
  background: rgba(31, 31, 31, 1);
  padding: 8px;
  border-radius: 8px;
  /* border: 1px solid #FAB726; */
  z-index: 1000;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 10px;
}

.diwali-text:hover .diwali-popup {
  display: block;
}

.diwali-popup img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 4px;
}

/* Optional: Add a small arrow at the bottom of popup */
.diwali-popup::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 8px;
  border-style: solid;
  border-color: #1f1f1f transparent transparent transparent;
}

.groww-link {
  color: #F5C556;
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease;
}

.groww-link::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -2px;
  left: 0;
  background-color: #04B488;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease;
}

.groww-link:hover {
  color: #04B488;
}

.groww-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
  background-color: #04B488;
}

.video-section {
  margin: 4rem auto;
  text-align: center;
  position: 'relative';
}

.header {
  font-family: 'Instrument Serif';
  font-size: clamp(2rem, 5vw, 3.5rem);
  font-weight: 400;
  color: white;
  margin-bottom: 0.5rem;
  letter-spacing: -0.02em;
  line-height: 1.2;
}

.subtext {
  font-family: 'Inter', sans-serif;
  font-size: clamp(1.2rem, 1.2vw, 1.125rem);
  line-height: 1.6;
  color: #ffffff;
  opacity: 0.8;
  max-width: 800px;
  margin: 0 auto 2.5rem;
}

.video-container {
  position: relative;  /* Changed from 'relative' */
  width: 100%;        /* Changed from '100%' */
  max-width: 960px;
  height: calc(960px * 0.5625);
  max-height: calc(100vw * 0.5625);
  margin: 0 auto;
}

.video-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

/* Add these styles for the profile image hover effect */
.profile-image {
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.2);
  filter: grayscale(100%);
  transition: all 0.8s ease;
}

.profile-image:hover {
  filter: grayscale(0%);
}